<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nick, "Nick" %><br />
    <%= f.text_field :nick %>
  </div>
    <div class="field">
    <%= f.label :name, "Nombre(s)" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lastname, "Apellido Paterno" %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :slastname, "Apellido Paterno" %><br />
    <%= f.text_field :slastname %>
  </div>
  <div class="field">
    <%= f.label :info, "Resumen" %><br />
    <%= f.text_area :info %>
  </div>
  <div class="field">
    <%= f.label :phone, "Telefono" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :birthday, "Fecha de Nacimiento" %><br />
    <%= f.date_select :birthday, :start_year => 1970, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :email, "Correo Electrónico"%><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :login, "Usuario" %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password, "Contraseña" %><br />
    <%= f.password_field :password %>
  </div>
    <div class="field">
    <%= f.label :password_confirmation, "Confirmar Contraseña" %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
  	<%= f.label :avatar, "Foto" %><br />
  	<%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
