<div class="container">
  <div class="row">
    <div class="span8"></br>
		<tittle class ="tittle">Divas</tittle>
		<% @users.each do |user| %>
		<table>
		  <tr>
		  	<h1 class="fn"></h1>
		  	<div id="page-wrap">
		  		<%= image_tag user.avatar.url(:medium), :id => "pic" %>
			    <td><h3><%= user.nick %></h3></br>
			    <div id="objective">
	            	<p>
	            		<%= user.info%>
	            	</p>
	            </div></br>
	            	<p>
	  					<b>Fecha de Nacimiento:</b></br>	
			    		<%= user.birthday.to_date%></br>
			    	</p>
			    	<p>
			    		<b>Correo Electronico:</b></br>
			    		<%= user.email%></br>
			    	</p>
			    <%= link_to 'Show', user %> |
			    <%= link_to 'Edit', edit_user_path(user) %> |
			    <%= link_to 'Destroy', user, confirm: '¿Esta usted seguro?', method: :delete %></br></br>
			</tr>
			<% end %>
		</table><br />
		<%= link_to 'New User', new_user_path, :class => "btn" %>
	</div>
    <div class="span4">
    	<%= render 'layouts/sponsor' %>
    </div>
  </div>
</div>