<p id="notice"><%= notice %></p>

<p>
  <b>Nick:</b>
  <%= @user.nick %>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
