<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :info %>
    <%= f.text_area :info, :size => "50x5" %>
  </div>
  <div class="field">
  	<%= f.label :start_at %>
  	<%= f.datepicker :start_at, :dateFormat => "dd-mm-yy" %>
  </div> 
  <div class="field">
    <%= f.label :end_at %>
    <%= f.datepicker :end_at, :dateFormat => "dd-mm-yy" %>
  </div>
  <button class="btn" type="submit">
  	Actualizar Evento
  </button>
<% end %>
