<div class="container">
  <div class="row">
    <div class="span8">
		<h1>Listing sponsors</h1>
		
		<table>
		  <tr>
		  	<th>Logo</th>
		    <th>Name</th>
		    <th>Route</th>
		    <th>Info</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		
		<% @sponsors.each do |sponsor| %>
		  <tr>
		  	<td><%= image_tag sponsor.avatar.url(:thumb) %></td>
		    <td><%= sponsor.name %></td>
		    <td><%= sponsor.route %></td>
		    <td><%= sponsor.info %></td>
		    <td><%= link_to 'Show', sponsor %></td>
		    <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
		    <td><%= link_to 'Destroy', sponsor, confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
		</table>
		
		<br />
		
		<%= link_to 'New Sponsor', new_sponsor_path %>
	</div>
    <div class="span4">
    	<%= render 'layouts/sponsor' %>
    </div>
  </div>
</div>