<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sponsor.name %>
</p>

<p>
  <b>Route:</b>
  <%= @sponsor.route %>
</p>

<p>
  <b>Info:</b>
  <%= @sponsor.info %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
