<h1>Temas Publicados</h1>
</br>
<% @posts.each do |post| %>
    <p id="notice">
    	<%= link_to post.tittle, post %>
		|
    	<%= post.owner %>

    </p>
    <p>
    	Hace <%= time_ago_in_words post.created_at %> 
    </p>
    <p>
    	<%= truncate post.post %>
    </p>

<br />
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
