<div class="container">
  <div class="row">

    <div class="span8">
    	<h1>Temas Publicados</h1>
		</br>
		<% @posts.each do |post| %>
		<table class="table table-striped table-condensed">
			<td>
				<%= image_tag post.avatar.url(:thumb) %>
			</td>
			<td>
			    <p id="notice">
			    	<%= link_to post.tittle, post %>
					|
			    	<%= post.owner %>
			    </p>
			    <p>
			    	Hace <%= time_ago_in_words post.created_at %> 
			    </p>
			    <p>
			    	<%= truncate post.post %>
			    </p>
		    </td>
		</table>
		<% end %>
		</br>
		<%= link_to 'New Post', new_post_path, :class => 'btn' %></br>
		<div class="pager">
			<%= paginate @posts %>
		</div>
	</div>
    <div class="span4">
    	<%= render 'layouts/sponsor' %>
    </div>
  </div>
</div>